{% extends "AdminZooBlogBundle:Layouts:master.html.twig" %}

{% set page_title = "Actualités - Zoo / Beauval Nature - Rédiger un article" %}
{% set short_page_title = "new_post" %}
{% block headLinks %}
    {{ parent() }}

{% endblock %}
{% block content %}

    <form action="{{ path("admin_zoo_blog_post_create") }}" method="post">
        {% if form_errors|length %}
            {% for error in form_errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <p class="text-danger">Incorporation de la mediatheque. choisir une image, upload d'une image</p> {# TODO à retirer #}
                <div class="form-group">
                    <label for="new_post_form_title">Titre de l'article</label>
                    <input type="text" name="new_post_form[title]" id="new_post_form_title" class="form-control" value="{{ post.title }}"/>
                    <span class="help-block">Champ requis. Caractères autorisés: a-z,A-Z,0-9,é,è,ê,ë,à,â,ç,ù,û,ï,ô,',!,?,_,-, espace, vigule, point-virgule, point </span>
                </div>
                <div class="form-group">
                    <label for="new_post_form_slug">Alias</label>
                    <input type="text" name="new_post_form[slug]" id="new_post_form_slug" class="form-control" value="{{ post.slug }}"/>
                    <span class="help-block">Si le nom est laissé vide, le nom original du fichier sera utilisé. Caractères autorisés : a à z, A à Z, 0 à 9, - et _</span>
                </div>
                <div class="form-group">
                    <label for="new_post_form_body">Corps de l'article</label>
                    <textarea name="new_post_form[body]" id="new_post_form_body" class="form-control">{{ post.body }}</textarea>
                </div>
                <div class="form-group">
                    <label for="new_post_form_excerpt">Extrait/résumé de l'article</label>
                    <textarea name="new_post_form[excerpt]" id="new_post_form_excerpt" class="form-control">{{ post.excerpt }}</textarea>
                </div>
                <input name="new_post_form[_token]" type="hidden" value="{{ csrf_token("new_post") }}"/>


            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><label>Etat de l'article</label></div>
                    <div class="panel-body">
                        {% if post.isDraft %}
                            <h3 class="text-danger">Brouillon</h3>
                        {% elseif post.isPublished %}
                            <h3 class="text-danger">Publié</h3>
                        {% elseif post.isDelayed %}
                            <h3 class="text-danger">Publication différée</h3>
                        {% else %}
                            <h3 class="text-danger"> inconnu ?</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><label for="new_post_form_category">Catégorie</label></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" name="new_post_form[category]" id="new_post_form_category">
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}" {% if post.category != null and post.category.id == cat.id %}selected="selected"{% endif %}>{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><label for="new_post_form_tags">Mots-clés</label></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" name="new_post_form[tags][]" id="new_post_form_tags" multiple="multiple">
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" >{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <p>Créer de nouveaux mots-clés :</p>
                        <div class="form-group">
                            <textarea class="form-control" name="new_post_form[newtags]" id="new_post_form_newtags"></textarea>
                            <span class="help-block">Lister vos nouveaux mots-clés en les séparant par des points-virgules.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="save_draft" name="new_post_form[submit]">Enregistrer le brouillon</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="save_publish" name="new_post_form[submit]">Enregistrer et publier</button>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><label>Enregistrer "à la une"</label></div>
                    <div class="panel-body">
                        <div class="checkbox">
                            <label for="new_post_form">
                                <input type="checkbox" id="new_post_form_front_zoo" name="new_post_form[isfront]" checked="checked"> "A la une" du zoo
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for="new_post_form">
                                <input type="checkbox" id="new_post_form_front_bn" name="new_post_form[isfrontbn]"> "A la une" de Beauval Nature
                            </label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" value="save_front" name="new_post_form[submit]">Enregistrer et publier à la une</button>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading"><label >Publication différée</label> <span class="text-danger">Non fonctionnel !</span></div>
                    <div class="panel-body">
                        <h5>Date</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="new_post_form[delay_year]" id="new_post_form_delay_year" placeholder="yyyy" {% if post.toBePublishedAt != null %}value="{{ post.toBePublishedAt|date("Y") }}"{% endif %} disabled="disabled"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="new_post_form[delay_month]" id="new_post_form_delay_month" placeholder="mm" {% if post.toBePublishedAt != null %}value="{{ post.toBePublishedAt|date("m") }}"{% endif %} disabled="disabled"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="new_post_form[delay_day]" id="new_post_form_delay_day" placeholder="jj" {% if post.toBePublishedAt != null %}value="{{ post.toBePublishedAt|date("d") }}"{% endif %} disabled="disabled"/>
                            </div>
                        </div>
                        <h5>Heure</h5>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="new_post_form[delay_hour]" id="new_post_form_delay_day" placeholder="hh" {% if post.toBePublishedAt != null %}value="{{ post.toBePublishedAt|date("H") }}"{% endif %}  disabled="disabled"/>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="new_post_form[delay_min]" id="new_post_form_delay_day" placeholder="mm" {% if post.toBePublishedAt != null %}value="{{ post.toBePublishedAt|date("i") }}"{% endif %}  disabled="disabled"/>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary disabled" value="save_delayed" name="new_post_form[submit]" disabled="disabled">Enregistrer et publier plus tard</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/js/admin/vendor/tinymce/tinymce.min.js"></script>
    <script>
        (function(){
            tinymce.init({
                selector: "textarea#new_post_form_body",
                menubar: "tools table format view insert edit",
                statusbar : false,
                resize: false,
                language : 'fr_FR',
                plugins: 'image preview fullscreen link code table',
                toolbar: false,
                height: 350
            });
            tinymce.init({
                selector: "textarea#new_post_form_excerpt",
                menubar: "tools table format view insert edit",
                statusbar : false,
                resize: false,
                language : 'fr_FR',
                plugins: 'image preview fullscreen link code table',
                toolbar: false,
                height: 150
            });
        })();
    </script>
{% endblock %}
