{% extends "AdminZooFototekBundle:Layouts:master.html.twig" %}

{% set page_title = "Photothèque - Zoo - Gestion des images" %}


{% block content %}

    <h2>Liste des images appartenant à la catégorie &laquo;{{ category.name }}&raquo;</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>#id</th>
                <th>Vignette</th>
                <th colspan="2">Déplacer</th>
                <th>Nom du fichier</th>
                <th>Légende</th>
                <th>Copyright</th>
                <th>Attr. 'title'</th>
                <th>Visible</th>
                <th>Largeur</th>
                <th>Hauteur</th>
                <th>Editer</th>
                <th>Archiver</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% if images|length <1 %}
                <tr class="warning">
                    <td colspan="14">Il n'y a pas d'images enregistrées dans la catégorie &laquo;{{ category.name }}&raquo;</td>
                </tr>
            {% else %}
                {% for image in images %}
                    <tr>
                        <td>{{ image.position }}</td>
                        <td>{{ image.id }}</td>
                        <td><img src="{{ thumb_dir ~ image.name}}" alt="" title="{{ image.title}}{{ image.copyright|raw }}" width="30"/></td>
                        <td><a href="{{ path("admin_zoo_fototek_image_move_up", {id:image.id}) }}" class="btn btn-default"><i class="fa fa-caret-up"></i></a>&nbsp;<a href="{{ path("admin_zoo_fototek_image_move_down", {id:image.id}) }}" class="btn btn-default"><i class="fa fa-caret-down"></i></a></td>
                        <td></td>
                        <td>{{ image.name }}</td>
                        <td>{{ image.legend }}</td>
                        <td>{{ image.copyright|raw }}</td>
                        <td>{{ image.title|raw }}</td>
                        <td>
                            {% if image.isDisplayed %}
                                <a href="{{ path("admin_zoo_fototek_image_set_invisible", {id:image.id,_token:csrf_token("set_invisible_image"),_from:"cat"}) }}" class="btn btn-default"><i class="fa fa-check-square-o"></i></a>
                            {% else %}
                                <a href="{{ path("admin_zoo_fototek_image_set_visible", {id:image.id,_token:csrf_token("set_visible_image"),_from:"cat"}) }}" class="btn btn-default"><i class="fa fa-square-o"></i></a>
                            {% endif %}
                        </td>
                        <td>{{ image.width }}</td>
                        <td>{{ image.height }}</td>
                        <td><a href="{{ path("admin_zoo_fototek_image_edit", {id:image.id}) }}" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></a></td>
                        <td><a class="btn btn-default" href="{{ path("admin_zoo_fototek_image_move_to_archives", {id:image.id,_token:csrf_token("move_to_archives"),_from:"cats"})}}"><i class="fa fa-archive"></i></a></td>
                        <td><a href="{{ path("admin_zoo_fototek_image_delete", {id:image.id,_token:csrf_token("delete_image"),_from:"cat"})}}" class="btn btn-default delete-alert" data-name="{{ image.name }}"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    {% if images|length>0 %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="row">
                {% for image in images %}
                    {% if image.isDisplayed %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img src="{{ thumb_dir ~ image.name }}" alt="" title="{{ image.title|raw}}{{ image.copyright|raw }}"/>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".delete-alert").on("click", function(e){
                e.preventDefault();
                var name = $(this).data("name");
                if(window.confirm("Attention, cette action est irréversible, êtes-vous certain de vouloir continuer et effacer '" + name + "' ?")){
                    window.location.href = $(this).attr("href");
                }
            });
        });
    </script>

{% endblock %}
