{% extends "AdminZooFototekBundle:Layouts:master.html.twig" %}

{% set page_title = "Photothèque - Zoo - Gestion des images" %}


{% block content %}

    <h2>Liste des images appartenant à la catégorie &laquo;{{ category.name }}&raquo;</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Vignette</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Titre</th>
                <th>Position</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% if images|length <1 %}
                <tr class="warning">
                    <td colspan="7">Il n'y a pas d'images enregistrées dans la catégorie &laquo;{{ category.name }}&raquo;</td>
                </tr>
            {% else %}
                {% for image in images %}
                    <tr>
                        <td></td>
                        <td>{{ image.id }}</td>
                        <td>{{ image.name }}</td>
                        <td>{{ image.title|raw }}</td>
                        <td>{{ image.position }}</td>
                        <td>#</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>


{% endblock %}
