{% set page_title = ( page_title is defined) ? page_title : "Dashboard" %}
{% set active_sidenav = ( active_sidenav is defined) ? active_sidenav : "Dashboard" %}
{%  set active_site = (active_site is defined ) ? active_site : "default" %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - {{ page_title }}</title>
    {% block headLinks%}
    <link rel="stylesheet" href="/css/admin/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/admin/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/admin/master.css"/>
    <link rel="stylesheet" href="/css/admin/nanoscroller.css"/>
    <link rel="stylesheet" href="/css/admin/dashboard.css"/>
    {% endblock %}

    {% block headScripts%}
        <script>
            var startTime = (new Date()).getTime();
        </script>
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("admin_common_base_homepage") }}">Admin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="sidebar">
    <div class="nano">
        <div class="nano-content">
            <div id="sidebar-content">
                <h3><i class="fa fa-cog"></i> Généralités</h3>
                <ul class="sidenav">
                    <li {% if active_sidenav == "mediatek" %}class="active"{% endif %}><a href="{{ path("admin_common_mediatek_homepage")}}"><i class="fa fa-files-o"></i> Médiathèque <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li {% if active_sidenav == "menu_manager" %}class="active"{% endif %}><a href="{{ path("admin_common_menu_manager_homepage") }}"><i class="fa fa-list-ul"></i> Menus Manager <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#"><i class="fa fa-bar-chart-o"></i> Statistiques <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#"><i class="fa fa-users"></i> Utilisateurs <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3><i class="fa fa-pencil-square-o"></i> Actualités</h3>
                <ul class="sidenav">
                    <li {% if active_sidenav == "actus" %}class="active"{% endif %}><a href="{{ path("admin_zoo_blog_homepage") }}"><i class="fa fa-pencil-square-o"></i> Actualités <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3 class="bg-zoo-dark"><i class="fa fa-university"></i> Zoo</h3>
                <ul class="sidenav">
                    <li class="bg-zoo"><a href="#"><i class="fa fa-files-o"></i> Pages <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-zoo {% if active_sidenav == "fototek_zoo" %}active{% endif %}"><a href="{{ path("admin_zoo_fototek_homepage") }}"><i class="fa fa-picture-o"></i> Photothèque <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-zoo"><a href="#"><i class="fa fa-bar-chart-o"></i> Statistiques <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3 class="bg-bn-dark"><i class="fa fa-globe"></i> Beauval Nature</h3>
                <ul class="sidenav">
                    <li class="bg-bn"><a href="#"><i class="fa fa-files-o"></i> Pages <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-bn"><a href="#"><i class="fa fa-picture-o"></i> Photothèque <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-bn"><a href="#"><i class="fa fa-bar-chart-o"></i> Statistiques <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3><i class="fa fa-users"></i> Parrainages</h3>
                <ul class="sidenav">
                    <li><a href="#"><i class="fa fa-users"></i> Parrains <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#"><i class="fa fa-list-alt"></i> Animaux <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href="#"><i class="fa fa-money"></i> Commandes <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3><i class="fa fa-shopping-cart"></i> Boutique en ligne</h3>
                <h3><i class="fa fa-briefcase"></i> Sites pros</h3>
                <h3><i class="fa fa-tachometer"></i> Entrée</h3>
                <ul class="sidenav">
                    <li><a href=""><i class="fa fa-clock-o"></i> Horaires parc <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i> Horaires spectacles <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i> Horaires animations <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li><a href=""><i class="fa fa-clock-o"></i> Horaires boutiques <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3 class="bg-jardins-dark"><i class="fa fa-building"></i> Jardins de Beauval</h3>
                <ul class="sidenav">
                    <li class="bg-jardins"><a href="#"><i class="fa fa-files-o"></i> Pages <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-jardins"><a href="#"><i class="fa fa-picture-o"></i> Photothèque <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-jardins"><a href="#"><i class="fa fa-bar-chart-o"></i> Statistiques <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3 class="bg-hameaux-dark"><i class="fa fa-building"></i> Hameaux de Beauval</h3>
                <ul class="sidenav">
                    <li class="bg-hameaux"><a href="#"><i class="fa fa-files-o"></i> Pages <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-hameaux"><a href="#"><i class="fa fa-picture-o"></i> Photothèque <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-hameaux"><a href="#"><i class="fa fa-bar-chart-o"></i> Statistiques <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
                <h3 class="bg-pagodes-dark"><i class="fa fa-building"></i> Pagodes de Beauval</h3>
                <ul class="sidenav">
                    <li class="bg-pagodes"><a href="#"><i class="fa fa-files-o"></i> Pages <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-pagodes"><a href="#"><i class="fa fa-picture-o"></i> Photothèque <i class="fa fa-angle-right pull-right"></i></a></li>
                    <li class="bg-pagodes"><a href="#"><i class="fa fa-bar-chart-o"></i> Statistiques <i class="fa fa-angle-right pull-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="main" class="{{ active_site }}">
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">{{ page_title }}</h1>
                    {% for flash in app.session.flashbag.get("danger") %}
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("warning") %}
                        <div class="alert alert-warning fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Attention ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% for flash in app.session.flashbag.get("success") %}
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert" type="button">&times;</button>
                            <strong>Succès ! </strong> {{ flash }}
                        </div>
                    {% endfor %}
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>



{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.nanoscroller.min.js"></script>
    <script>
        $(function(){
            $(".nano").nanoScroller();
        });
    </script>
    <script>

        var endTime = (new Date()).getTime();
        var loadingTime = Math.round(((endTime - startTime)/1000)*100)/100;
        var stat = document.createElement("div");
        stat.classList.add("bg-info");
        stat.style.position = "absolute";
        stat.style.bottom = 50 + "px";
        stat.style.right = 0 + "px";
        stat.style.zIndex = 10000;
        stat.innerHTML = "chargement : " + loadingTime + " secondes.";
        document.body.appendChild(stat);
    </script>

{% endblock %}
</body>
</html>
