{% extends "AdminZooBlogBundle:Layouts:master.html.twig" %}
{% set page_title = "Actualités - Zoo / Beauval Nature" %}
{% set short_page_title = "all_posts" %}
{% block content %}
    {% if categories|length <1 %}

        <div class="alert alert-warning">
            <strong>Attention ! </strong> Il n'y a pas de catégories enregistrées pour les articles. Vous devez en créer au moins une pour pouvoir commencer vos rédactions.
            <a href="#"><i class="fa fa-hand-o-right"></i> Ajouter une catégorie.</a> {# TODO #}
        </div>


    {% else %}
        <div class="page-header">
            <h3>Brouillons</h3>
            <p class="text-danger">Incorporation de la mediatheque. choisir une image, upload d'une image</p> {# TODO à nretirer #}
        </div>


        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>#id</th>
                    <th>date de création</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Mots-clés</th>
                    <th>Editer</th>
                    <th>Publier</th>
                    <th>Mettre à la corbeille</th>
                </tr>
                </thead>
                <tbody>
                {% if drafts|length < 1 %}
                    <tr class="warning">
                        <td colspan="6">Il n'y a pas d'articles en cours d'écriture. <a href="{{ path("admin_zoo_blog_post_new") }}"><i class="fa fa-hand-o-right"></i> Ecrire</a></td>
                    </tr>
                {% else %}
                    {% for draft in drafts %}
                        <tr>
                            <td>{{ draft.id }}</td>
                            <td>{{ draft.createdAt|date("d-m-Y") }}</td>
                            <td>{{ draft.title }}</td>
                            <td><a href="#">{{ draft.category.name }}</a></td>
                            {% if draft.tags|length > 0 %}
                            <td>
                                {% for tag in draft.tags %}
                                    <a href="#">{{ tag.name}}</a> {% if loop.last %} - {% endif %}
                                {% endfor %}
                            </td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                            <td><a class="btn btn-default" href="{{ path("admin_zoo_blog_post_edit", {id:draft.id, _token:csrf_token("edit_post")})}}"><i class="fa fa-pencil-square-o"></i></a></td>
                            <td><a class="btn btn-default" href="#"><i class="fa fa-share"></i></a></td>
                            <td><a class="btn btn-default" href="#"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <hr/>
        <div class="page-header">
            <h3>Articles publiés</h3>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-filter"></i> Filtrer par catégorie
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" method="post" action=""> {# TODO #}
                            <div class="form-group">
                                <select class="form-control" name="filter_by_category_form[category]" id="filter_by_category_form_category">
                                    {% for cat in categories %}
                                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input name="filter_by_category_form[_token]" type="hidden" value="{{ csrf_token("filter_by_category") }}"/>
                            <button type="submit" class="btn btn-default">Filtrer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-filter"></i> Filtrer par mot-clé
                    </div>
                    <div class="panel-body">
                        {% if tags|length > 0 %}
                        <form class="form-inline" method="post" action=""> {# TODO #}
                            <div class="form-group">
                                <select class="form-control" name="filter_by_tag_form[tag]" id="filter_by_tag_form_category">
                                    {% for tag in tags %}
                                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input name="filter_by_tag_form[_token]" type="hidden" value="{{ csrf_token("filter_by_tag") }}"/>
                            <button type="submit" class="btn btn-default">Filtrer</button>
                        </form>
                        {% else %}
                        <p>Il n'y a pas de mots-clés enregistrés. <a href="{{ path("admin_zoo_blog_tag_new") }}"><i class="fa fa-hand-o-right"></i> Créer</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-trophy"></i> Article "à la une" du Zoo
                    </div>
                    <div class="panel-body">
                        {% if alaune != null %}
                            &laquo; {{ alaune.title }} &raquo; <a href="#" class="btn btn-default"><i class="fa fa-hand-o-right"></i> Editer</a>
                        {% else %}
                            Il n'y a pas d'article à la une.
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-trophy"></i> Article "à la une" de Beauval Nature
                    </div>
                    <div class="panel-body">
                        {% if alaunebn != null %}
                            &laquo; {{ alaunebn.title }} &raquo; <a href="#" class="btn btn-default"><i class="fa fa-hand-o-right"></i> Editer</a>
                        {% else %}
                            Il n'y a pas d'article à la une.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>#id</th>
                    <th>date de publication</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Mots-clés</th>
                    <th>"à la une" Zoo</th>
                    <th>"à la une" Beauval Nature</th>
                    <th>Archiver</th>
                    <th>Editer</th>
                    <th>Mettre à la corbeille</th>
                </tr>
                </thead>
                <tbody>
                {% if published|length < 1 %}
                    <tr class="warning">
                        <td colspan="9">Il n'y a pas d'articles publiés. <a href="{{ path("admin_zoo_blog_post_new") }}"><i class="fa fa-hand-o-right"></i> Ecrire</a></td>
                    </tr>
                {% else %}
                    {% for pub in published %}
                        <tr>
                            <td>{{ pub.id }}</td>
                            <td>{{ pub.publishedAt|date("d-m-Y") }}</td>
                            <td>{{ pub.title }}</td>
                            <td><a href="#">{{ pub.category.name }}</a></td> {# TODO #}
                            {% if pub.tags|length > 0 %}
                                <td>
                                    {% for tag in pub.tags %}
                                        <a href="#">{{ tag.name}}</a> {% if loop.last %} - {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td> - </td>
                            {% endif %}
                            {% if pub.isFront == true %}
                                <td><a href="#" class="btn btn-default"><i class="fa fa-check-square-o"></i></a></td>
                            {% else %}
                                <td><a href="#" class="btn btn-default"><i class="fa fa-square-o"></i></a></td>
                            {% endif %}

                            {% if pub.isFrontBN == true %}
                                <td><a href="#" class="btn btn-default"><i class="fa fa-check-square-o"></i></a></td>
                            {% else %}
                                <td><a href="#" class="btn btn-default"><i class="fa fa-square-o"></i></a></td>
                            {% endif %}



                            <td><a class="btn btn-default" href="#"><i class="fa fa-archive"></i></a></td>
                            <td><a class="btn btn-default" href="{{ path("admin_zoo_blog_post_edit", {id:pub.id, _token:csrf_token("edit_post")})}}"><i class="fa fa-pencil-square-o"></i></a></td>
                            <td><a class="btn btn-default" href="#"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

    {% endif %}



{% endblock %}
